<form [formGroup]="userForm">
  <div class="form-group">
    <label for="nome">Nome</label>

    <input type="text" class="form-control" id="nome" formControlName="nome">

    <div *ngIf="userForm.get('nome').invalid && (userForm.get('nome').dirty ||
          userForm.get('nome').touched)" class="alert alert-danger">
      O Nome é Obrigatório
    </div>
  </div>
  <div class="form-group">
    <label for="idade">Idade</label>
    <input type="text" class="form-control" id="idade" formControlName="idade">
    <div class="alert alert-danger" *ngIf="userForm.get('idade').invalid &&
              (userForm.get('idade').dirty || userForm.get('idade').touched)">
      <div *ngIf="userForm.get('idade').hasError('required')">
        A Idade é obrigatória.
      </div>
      <div *ngIf="userForm.get('idade').hasError('minlength')">
        O tamanho máximo da idade é de 2 números
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" formControlName="email" id="email">
    <div class="alert alert-danger" *ngIf="userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)">
      <div *ngIf="userForm.get('email').hasError('required')">
        A Idade é obrigatória.
      </div>
      <!-- Verificamos aqui se é um email ou não de acordo com o que setamos em nosso formControl 'email' -->
      <div *ngIf="userForm.get('email').hasError('email')">
        Não é um formato de email válido.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>